
h1 {
  font-size: 50px;
  letter-spacing: 3px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 50% !important;
  display: flex;
  border: 5px solid #000223;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;

  object-fit: cover;
}



.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 5;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  background-color: transparent;
  box-shadow: #000010 0px 12px 90px 26px;

  transition: 0.3s;

  &:hover {
    transform: scale(1.03);
  }

  span {
    color: #ba4a62;
    letter-spacing: 2px;
  }

  a {
    color: #ba4a62;
  }
}


// RESPONSIVENES
// MOBILE RESPONSIVENESS
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
    letter-spacing: 3px;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    //   background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    //   display: block;
    width: 50% !important;
    display: flex;
    border: 5px solid #000223;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    //   height: 100%;
    object-fit: cover;
  }
  
  
  
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 5;
  }
  
  .swiper-slide img {
    // display: block;
    width: 150% !important;
    right: 3rem;
    position: relative;
    bottom: 5rem;
    height: 100%;
    object-fit: cover;
    display: none;
  }
  
  .card {
    background-color: transparent;
    box-shadow: #000010 0px 12px 90px 26px;
    // display: none;

    transition: 0.3s;
  
    &:hover {
      transform: scale(1.03);
    }
  
    span {
      color: #ba4a62;
      letter-spacing: 2px;
    }
  
    a {
      color: #ba4a62;
    }
  }

}